Lab5/src/main/resources/personservice.wsdl

<!--  Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558.  -->
<!--  Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.2 git-revision#91dd558.  -->
<definitions
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://Server/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://Server/"
        name="EmployeeService">
    <types>
        <xs:schema xmlns:tns="http://Server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Server/">
            <xs:element name="EmployeeAlreadyExists" type="tns:EmployeeAlreadyExists"/>
            <xs:element name="EmployeeNotFound" type="tns:EmployeeNotFound"/>
            <xs:element name="addEmployee" type="tns:addEmployee"/>
            <xs:element name="addEmployeeResponse" type="tns:addEmployeeResponse"/>
            <xs:element name="countEmployees" type="tns:countEmployees"/>
            <xs:element name="countEmployeesResponse" type="tns:countEmployeesResponse"/>
            <xs:element name="deleteEmployee" type="tns:deleteEmployee"/>
            <xs:element name="deleteEmployeeResponse" type="tns:deleteEmployeeResponse"/>
            <xs:element name="getAllEmployees" type="tns:getAllEmployees"/>
            <xs:element name="getAllEmployeesResponse" type="tns:getAllEmployeesResponse"/>
            <xs:element name="getEmployee" type="tns:getEmployee"/>
            <xs:element name="getEmployeeResponse" type="tns:getEmployeeResponse"/>
            <xs:element name="updateEmployee" type="tns:updateEmployee"/>
            <xs:element name="updateEmployeeResponse" type="tns:updateEmployeeResponse"/>
            <xs:complexType name="updateEmployee">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateEmployeeResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:employee" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="employee">
                <xs:sequence>
                    <xs:element name="firstName" type="xs:string" minOccurs="0"/>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EmployeeNotFound">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="countEmployees">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="countEmployeesResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getEmployee">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getEmployeeResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:employee" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAllEmployees">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllEmployeesResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:employee" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addEmployee">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addEmployeeResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:employee" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EmployeeAlreadyExists">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteEmployee">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteEmployeeResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="getEmployee">
        <part name="parameters" element="tns:getEmployee"/>
    </message>
    <message name="getEmployeeResponse">
        <part name="parameters" element="tns:getEmployeeResponse"/>
    </message>
    <message name="EmployeeNotFound">
        <part name="fault" element="tns:EmployeeNotFound"/>
    </message>
    <message name="getAllEmployees">
        <part name="parameters" element="tns:getAllEmployees"/>
    </message>
    <message name="getAllEmployeesResponse">
        <part name="parameters" element="tns:getAllEmployeesResponse"/>
    </message>
    <message name="deleteEmployee">
        <part name="parameters" element="tns:deleteEmployee"/>
    </message>
    <message name="deleteEmployeeResponse">
        <part name="parameters" element="tns:deleteEmployeeResponse"/>
    </message>
    <message name="updateEmployee">
        <part name="parameters" element="tns:updateEmployee"/>
    </message>
    <message name="updateEmployeeResponse">
        <part name="parameters" element="tns:updateEmployeeResponse"/>
    </message>
    <message name="addEmployee">
        <part name="parameters" element="tns:addEmployee"/>
    </message>
    <message name="addEmployeeResponse">
        <part name="parameters" element="tns:addEmployeeResponse"/>
    </message>
    <message name="EmployeeAlreadyExists">
        <part name="fault" element="tns:EmployeeAlreadyExists"/>
    </message>
    <message name="countEmployees">
        <part name="parameters" element="tns:countEmployees"/>
    </message>
    <message name="countEmployeesResponse">
        <part name="parameters" element="tns:countEmployeesResponse"/>
    </message>
    <portType name="EmployeeService">
        <operation name="getEmployee">
            <input  message="tns:getEmployee"/>
            <output message="tns:getEmployeeResponse"/>
            <fault message="tns:EmployeeNotFound" name="EmployeeNotFound"
                   />
        </operation>
        <operation name="getAllEmployees">
            <input message="tns:getAllEmployees"/>
            <output 
                    message="tns:getAllEmployeesResponse"/>
        </operation>
        <operation name="deleteEmployee">
            <input  message="tns:deleteEmployee"/>
            <output
                    message="tns:deleteEmployeeResponse"/>
            <fault message="tns:EmployeeNotFound" name="EmployeeNotFound"
                   />
        </operation>
        <operation name="updateEmployee">
            <input  message="tns:updateEmployee"/>
            <output
                    message="tns:updateEmployeeResponse"/>
            <fault message="tns:EmployeeNotFound" name="EmployeeNotFound"
                   />
        </operation>
        <operation name="addEmployee">
            <input  message="tns:addEmployee"/>
            <output  message="tns:addEmployeeResponse"/>
            <fault message="tns:EmployeeAlreadyExists" name="EmployeeAlreadyExists"
                   />
        </operation>
        <operation name="countEmployees">
            <input  message="tns:countEmployees"/>
            <output
                    message="tns:countEmployeesResponse"/>
        </operation>
    </portType>
    <binding name="EmployeeServiceImplPortBinding" type="tns:EmployeeService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EmployeeNotFound">
                <soap:fault name="EmployeeNotFound" use="literal"/>
            </fault>
        </operation>
        <operation name="getAllEmployees">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EmployeeNotFound">
                <soap:fault name="EmployeeNotFound" use="literal"/>
            </fault>
        </operation>
        <operation name="updateEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EmployeeNotFound">
                <soap:fault name="EmployeeNotFound" use="literal"/>
            </fault>
        </operation>
        <operation name="addEmployee">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EmployeeAlreadyExists">
                <soap:fault name="EmployeeAlreadyExists" use="literal"/>
            </fault>
        </operation>
        <operation name="countEmployees">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="EmployeeService">
        <port name="EmployeeServiceImplPort" binding="tns:EmployeeServiceImplPortBinding">
            <soap:address location="http://localhost:8001/employee-service"/>
        </port>
    </service>
</definitions>